/*
font-family: 'Hind Siliguri', sans-serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
*/
body{
    margin:0;
    /*font-family: 'Roboto', sans-serif;*/
    box-sizing: border-box;
    /*background-color:#f7f8fa !important;*/
    background-color:white;
}
.main{
    height:100vh;
    width:100%;
    display:grid;
    grid-template-columns: 30% 40% 30%;
}
.main-col-former{
    border-right:1px solid rgb(226, 226, 226);
}
.about-player-wrapper{
    float:right;
    padding:80px;
    padding-top:60px;
}
.side-bar-header{
    color:rgb(40, 40, 40);
    font-size:25px;
    font-weight:700;
    font-family: 'Source Sans Pro', sans-serif;

}
.player-profile-main{
    display:grid;
    grid-template-columns: 50px auto;
    column-gap: 15px;
    align-items: center;
}
.player-profile-col{
    display:flex;
    align-items: center;
}
.avatar-img-about{
    width:50px;
    height:50px;
    border-radius:50%;
}
.user-name-about{
    font-family: 'Source Sans Pro', sans-serif;
    font-size:18px;
    font-weight:600;
    color:rgb(101 101 101);
}
.user-handle-about{
    font-family: 'Source Sans Pro', sans-serif;
    font-size:15px;
    font-weight:400;
    /*color:rgb(130, 177, 230);*/
    color:rgb(27, 149, 224);
}
.team-about-large{
    font-family: 'Source Sans Pro', sans-serif;
    font-size:20px;
    font-weight:400;
    color:rgb(27, 149, 224);
}
.team-marker1-color{
    color:rgb(27, 149, 224);
}
.sidebar-underline{
    height:1px;
    background-color:rgb(229, 229, 229);
}
.how-to-play-desc{
    font-family: 'Source Sans Pro', sans-serif;
    font-size:16px;
    font-weight:400;
    color:rgb(175, 175, 175);
    line-height:1.4;
    max-width:250px;
}
.side-hashtag{
    color:rgb(27, 149, 224);
    font-weight:400;
}
.resources-wrapper{
    padding:80px;
    padding-top:60px;
}