body{
    margin:0;
    box-sizing: border-box;
    background-color:white;
    /*font-family: 'Source Sans Pro', sans-serif;*/
    /*color:rgb(211, 61, 211)*/
}
.access-outer{
    width:23%;
    margin:0 auto;
    border-radius:15px;
    border:1px solid rgb(228, 228, 228);
    padding:15px;
    padding-left:30px;
    padding-right:30px;
}
.access-action-title{
    font-size:33px;
    font-weight:700;
    font-family: 'Source Sans Pro', sans-serif;
    color:rgb(40, 40, 40);
    text-align: center;
}
.alt-action-prompt{
    font-size:18px;
    font-weight:400;
    font-family: 'Source Sans Pro', sans-serif;
    color:rgb(173 173 173);
    text-align: center;
}
.alt-access-link{
    font-weight:bold;
    color:rgb(211, 61, 211);
    text-decoration: none;
    
}
.alt-access-link:hover{
    text-decoration: underline !important;
}
.first-last-outer{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 3px;
    align-items: center;
}
.entry-field{
    width:100%;
    padding:9px;
    padding-left:13px;
    padding-right:13px;
    background-color:rgb(243 243 243);
    color:rgb(40, 40, 40);
    border:none;
    font-family: 'Source Sans Pro', sans-serif !important;
    font-size:16px;
}
.entry-name-1{
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}
.entry-name-2{
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}
.entry-field:focus{
    outline:none;
}
.entry-field::placeholder{
    color:rgb(142, 141, 141);
    font-style: italic;
}