body{
    margin:0;
    box-sizing: border-box;
    background-color:white;
    /*font-family: 'Source Sans Pro', sans-serif;*/
    /*color:rgb(211, 61, 211)*/
}
.access-outer{
    width:23%;
    margin:0 auto;
    border-radius:15px;
    border:1px solid rgb(228, 228, 228);
    padding:15px;
    padding-left:30px;
    padding-right:30px;
    padding-bottom: 30px;
}
.access-action-title{
    font-size:33px;
    font-weight:700;
    font-family: 'Source Sans Pro', sans-serif;
    color:rgb(40, 40, 40);
    text-align: center;
}
.alt-action-prompt{
    font-size:18px;
    font-weight:400;
    font-family: 'Source Sans Pro', sans-serif;
    color:rgb(173 173 173);
    text-align: center;
}
.alt-access-link{
    font-weight:bold;
    color:rgb(222 77 222);
    text-decoration: none;
    
}
.alt-access-link:hover{
    text-decoration: underline !important;
}
.first-last-outer{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 3px;
}
.entry-field{
    width:100%;
    padding:10px;
    padding-left:13px;
    padding-right:13px;
    background-color:rgb(243 243 243);
    color:rgb(40, 40, 40);
    border:1px solid rgb(243 243 243);
    font-family: 'Source Sans Pro', sans-serif !important;
    font-size:16px;
    border-radius:9px;
}
.entry-field:focus{
    background-color:white;
    box-shadow: 0px 0px 2px 1px rgb(204 204 204 / 20%);
    border:1px solid rgb(239, 239, 239);
}
.entry-name-1{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.entry-name-2{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.entry-field:focus{
    outline:none;
}
.entry-field::placeholder{
    color:rgb(142, 141, 141);
    font-style: italic;
}
.sign-up{
    display: grid;
    grid-template-columns: repeat(3, 33%);
    align-items: center;
    /*background-color:rgb(211, 61, 211);*/
    background-color:rgb(222 77 222);
    border-radius:9px;
    padding:10px;

}
.sign-up-prompt{
    text-align: center;
    color:white;
    font-family: 'Source Sans Pro', sans-serif !important;
    font-size:18px;
}
.sign-up:not(.sign-up-disabled):hover{
    cursor:pointer;
    transition:0.2s;
    transform:scale(1.03)
}
.sign-up-disabled{
    opacity:0.5;
}
.next-step-col{
    display: flex;
    justify-content: flex-end;
}
.arrow-proceed{
    width:20px;
    height:20px;
    background-size:cover;
    background-image:url(/static/img/right-arrow-signup1.svg);
}
.circle-animate{
    display: inline-grid;
    margin:0 auto;
    grid-template-columns: repeat(3, 12px);
    column-gap: 5px;
    align-items: center;
}
.circle-animate-l{
    width:10px;
    height:10px;
    background-color: white;
    border-radius: 50%;
    transition:0.5s;
}
.circle-animate div:nth-of-type(2){
    margin:0 auto;
}
.offset-c-l{
    display: flex;
    justify-content: flex-end;
}
.circle-obj-l{
    transform:scale(1.35);
}