<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width">
        <title>Matrices Dashboard</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src='/static/js/dashboard_matrices.js'></script>
        <link rel='stylesheet' href='/static/css/dashboard_matrices.css'>
    </head>
    <body>
        <div class='header'>
            <div class='header-main'>
                <div></div>
                <div>
                    <div class='user-profile-display'>
                        <img src='https://www.gravatar.com/avatar/e527e2038eb5c6671be2820348cb72b2?d=identicon' class='dashboard-avatar'>
                        <div class='welcome-user-text'><a href='/profile' class='logged-in-profile'>James Petullo</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div style='height:50px'></div>
        <!--
        <div class='dashboard-main'>
            <div class='side-col'>
                <div class='dashboard-nav-block dashboard-nav-chosen'>
                    <div class='dashboard-nav-bar'></div>
                    <div class='dashboard-block-text'>Games</div>
                </div>
                <div style='height:25px'></div>
                <div class='dashboard-nav-block'>
                    <div class='dashboard-nav-bar'></div>
                    <div class='dashboard-block-text'>Content</div>
                </div>
                <div style='height:25px'></div>
                <div class='dashboard-nav-block'>
                    <div class='dashboard-nav-bar'></div>
                    <div class='dashboard-block-text'>Matrices</div>
                </div>
            </div>
            <div class='main-col'>

            </div>
        </div>
        -->
        <div class='dashboard-main'>
            <div style='height:50px'></div>
            <div class='nav-bar-outer'>
                <div class='nav-bar-col'>
                    <a href='/dashboard/games' style='text-decoration: none;'>
                        <div class='dashboard-menu-text'>Games</div>
                    </a>
                </div>
                <div class='nav-bar-col'>
                    <a href='/dashboard/content' style='text-decoration: none;'>
                        <div class='dashboard-menu-text'>Content</div>
                    </a>
                </div>
                <div class='nav-bar-col nav-bar-col-selected'>
                    <div class='dashboard-menu-text'>Matrices</div>
                </div>
            </div>
            <div style='height:30px'></div>
            <div class='main-header'>
                <div class='main-header-col'>
                    <div class='dashboard-toggle-header'>My Matrices</div>
                </div>
                <div class='main-header-col'>
                    <a href='/create-matrix' style='text-decoration:none;'>
                        <div class='create-entity'>Create matrix</div>
                    </a>
                </div>
            </div>
            <div style='height:20px'></div>
            <div class='about-content'>
                Matrices specify the actors, reactions, and payouts for your game.
            </div>
            <div style='height:25px'></div>
            <div class='content-outer'>
                <div class="content-card" data-card="1" id="content-card1">
                    <div class='content-title'>Protest Game Matrix</div>
                    <div style='height:10px'></div>
                    <div class='matrix-actor-header'>Actors</div>
                    <div style='height:5px'></div>
                    <div class='matrix-actor-outer'><span class='matrix-actor'>#Police</span>, <span class='matrix-actor'>#Protestors</span></div>
                    <div style='height:10px'></div>
                    <div class='content-description' id='content-description1'>This matrix stores the actors, reactions, and payoffs for a standard protest game.</div>
                    <div style='height:12px'></div>    
                    <div class='view-content-outer'>
                        <div class="view-content">View</div>
                        <div class='listed-in-store'></div>
                    </div>
                </div>
                <div class="content-card" data-card="2" id="content-card2">
                    <div class='content-title'>Prisoners' Dilemma</div>
                    <div style='height:10px'></div>
                    <div class='matrix-actor-header'>Actors</div>
                    <div style='height:5px'></div>
                    <div class='matrix-actor-outer'><span class='matrix-actor'>#Prisoner1</span>, <span class='matrix-actor'>#Prisoner2</span></div>
                    <div style='height:10px'></div>
                    <div class='content-description' id='content-description2'>This matrix stores the actors, reactions, and payoffs for a standard protest game.</div>
                    <div style='height:12px'></div>
                    <div class='view-content-outer'>
                        <div class="view-content">View</div>
                        <div class='feature-in-store'>
                            <!--
                            <div class='featured-icon'></div>
                            <div class='featured-text'>Listed in store</div>
                            -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style='height:100px'></div>
    </body>
</html>