<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width">
        <title>Content Dashboard</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src='/static/js/dashboard_content.js'></script>
        <link rel='stylesheet' href='/static/css/dashboard_content.css'>
    </head>
    <body>
        <div class='header'>
            <div class='header-main'>
                <div></div>
                <div>
                    <div class='user-profile-display'>
                        <img src='{{user.gravatar}}' class='dashboard-avatar'>
                        <div class='welcome-user-text'><a href='/profile' class='logged-in-profile'>{{user.full_name}}</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div style='height:50px'></div>
        <!--
        <div class='dashboard-main'>
            <div class='side-col'>
                <div class='dashboard-nav-block dashboard-nav-chosen'>
                    <div class='dashboard-nav-bar'></div>
                    <div class='dashboard-block-text'>Games</div>
                </div>
                <div style='height:25px'></div>
                <div class='dashboard-nav-block'>
                    <div class='dashboard-nav-bar'></div>
                    <div class='dashboard-block-text'>Content</div>
                </div>
                <div style='height:25px'></div>
                <div class='dashboard-nav-block'>
                    <div class='dashboard-nav-bar'></div>
                    <div class='dashboard-block-text'>Matrices</div>
                </div>
            </div>
            <div class='main-col'>

            </div>
        </div>
        -->
        <div class='dashboard-main'>
            <div style='height:50px'></div>
            <div class='nav-bar-outer'>
                <div class='nav-bar-col'>
                    <a href='/dashboard/games' style='text-decoration: none;'>
                        <div class='dashboard-menu-text'>Games</div>
                    </a>
                </div>
                <div class='nav-bar-col nav-bar-col-selected'>
                    <div class='dashboard-menu-text'>Content</div>
                </div>
                <div class='nav-bar-col'>
                    <a href='/dashboard/matrices' style='text-decoration: none;'>
                        <div class='dashboard-menu-text'>Matrices</div>
                    </a>
                </div>
            </div>
            <div style='height:30px'></div>
            <div class='main-header'>
                <div class='main-header-col'>
                    <div class='dashboard-toggle-header'>My Content</div>
                </div>
                <div class='main-header-col'>
                    <a href='/create/content' style='text-decoration:none;'>
                        <div class='create-entity'>Create content</div>
                    </a>
                </div>
            </div>
            <div style='height:20px'></div>
            <div class='about-content'>
                Content are custom slides of text, links, and images that players of your games can access and reference throughout play.
            </div>
            <div style='height:25px'></div>
            <div class='all-content'>
                <div class='loader-dividor'></div>
                <div class='loader'></div>
                <!--
                <div class='content-outer'>
                    <div class="content-card" data-card="1" id="content-card1">
                        <div class="content-title">Protest Game Content</div>
                        <div style="height:10px"></div>
                        <div class="content-description" id="content-description1">This content provides context for a standard game between protestors and police. In particular, we highlight Arab Spring and address how the 2011 Middle Eastern protests serve as a classic example of how protestors can adopt strategies that best serve their cause. Our content slides contain an overview of Arab Spring, a background on the "18 days of Tarir", and basic gameplay instructions.</div>
                        <div style="height:10px"></div>
                        <div class='view-content-outer'>
                            <div class="view-content">View</div>
                            <div class='listed-in-store'></div>
                        </div>
                    </div>
                    <div class="content-card" data-card="2" id="content-card2">
                        <div class="content-title">Prisoner's Delimma Content</div>
                        <div style="height:10px"></div>
                        <div class="content-description" id="content-description2">Some stuff.</div><div style="height:58px"></div>
                        <div style="height:10px"></div>
                        <div class='view-content-outer'>
                            <div class="view-content">View</div>
                            <div class='feature-in-store'>
                                
                                <div class='featured-icon'></div>
                                <div class='featured-text'>Listed in store</div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                -->
            </div>
        </div>
        <div style='height:100px'></div>
    </body>
</html>