<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width">
        <title>Dashboard Onboard</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src='/static/js/dashboard_onboard.js'></script>
        <link rel='stylesheet' href='/static/css/dashboard_onboard.css'>
    </head>
    <body>
        <div class='header'>
            <div class='header-main'>
                <div></div>
                <div>
                    <div class='user-profile-display'>
                        <img src='https://www.gravatar.com/avatar/e527e2038eb5c6671be2820348cb72b2?d=identicon' class='dashboard-avatar'>
                        <div class='welcome-user-text'><a href='/profile' class='logged-in-profile'>James Petullo</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div style='height:100px'></div>
        <div class='welcome-main'>
            <div class='welcome-text'>Welcome, James 🎉</div>
            <div style='height:40px'></div>
            <div class='basic-instructions'>Get started by creating a game.</div>
            <div style='height:20px'></div>
            <div class='basic-help'>If you need help, please visit our <a href='/help' class='help-nav-link'>help page</a>, <a href='/contact-us' class='help-nav-link'>contact us</a>, or <a href='/chat' class='help-nav-link'>chat with us</a>.</div>
            <div style='height:50px'></div>
            <div class='create-game'>Create new game</div>
        </div>
    </body>
</html>