<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width">
        <title>Start Demo</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src='/static/js/demo_signin.js'></script>
        <link rel='stylesheet' href='/static/css/demo_signin.css'>
    </head>
    <body>
        <div class='demo-access-outer' data-gid='{{gid}}'>
            <div style='height:100px'></div>
            <div class='play-demo-prompt'>Play Demo</div>
            <div style='height:40px'></div>
            <div class='field-description'>Name</div>
            <input type='text' class='access-demo-field' placeholder="Name" data-field='name'>
            <div style='height:15px'></div>
            <div class='field-description'>Email</div>
            <input type='email' class='access-demo-field' placeholder="Email" data-field='email'>
            <div style='height:20px'></div>
            <div class='start-demo'>Start Demo</div>
        </div>
    </body>
</html>