<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width">
        <title>Enter Game | Plexus</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src='/static/js/game_signin.js'></script>
        <link rel='stylesheet' href='/static/css/game_signin.css'>
        <link rel='icon' href='/static/img/rubik_3.png'>
    </head>
    <body>
        <div class='game-enter-outer' data-gid='{{gid}}'>
            <div style='height:100px'></div>
            <div class='enter-game-prompt'>Please Tell Us About Yourself</div>
            <div style='height:40px'></div>
            <div class='field-description'>Name</div>
            <input type='text' class='enter-game-field' placeholder="Name" data-field='name'>
            <div style='height:15px'></div>
            <div class='field-description'>Email</div>
            <input type='email' class='enter-game-field' placeholder="Email" data-field='email'>
            <div style='height:20px'></div>
            <div class='enter-game'>Enter Game</div>
        </div>
    </body>
</html>