<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width">
        <title>Game Manager Window | Plexus</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://js.pusher.com/7.0/pusher.min.js"></script>
        <script src='/static/js/game_window_instructor_view.js'></script>
        <link rel='stylesheet' href='/static/css/game_window_instructor_view.css'>
    </head>
    <body>
        <div class='main' data-pld = '{{pld}}'>
            <div class='main-col main-col-former'>
                <div class='instructor-controls-wrapper'>
                    <div class='score-box-outer'>
                        <div class='score-box'> 
                            <div class='score-box-header'>
                                <div class='score-text'>Score</div>
                                
                            </div>
                            <div class='score-box-main'>
                                <div class='score-display-outer'>
                                    <div class='score-col' id='score-col-main'>
                                        <div class='side-score-outer'>
                                            <div class='side-score-name'>Protestors</div>
                                            <div class='side-score-value'>0</div>
                                        </div>
                                        <div style='height:5px'></div>
                                        <div class='side-score-outer'>
                                            <div class='side-score-name'>Police</div>
                                            <div class='side-score-value'>0</div>
                                        </div>
                                    </div>
                                    <div class='score-col'>
                                        <div class='score-box-divider'></div>
                                    </div>
                                    <div class='score-col'>
                                        <div class='current-round'>Round 1 of 6</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style='height:10px'></div>
                        <div class='round-by-round-toggle'>See round by round results</div>
                        <div style="height:50px"></div>
                    </div>
                    <div class='game-controls-outer'>
                        <div class='side-bar-header'>Game Controls</div>
                        <div style='height:20px'></div>
                        <div class='game-controls'>
                            <div class='game-control-outer' data-control='pause'>
                                <div class='pause-game-icon'></div>
                                <div class='game-control-option'>Pause Game</div>
                            </div>
                            <div style='height:15px'></div>
                            <!--
                            <div class='game-control-outer'>
                                <div class='mute-chat-icon'></div>
                                <div class='game-control-option'>Mute Player Messaging</div>
                            </div>
                            -->
                            <div class='game-control-outer' data-control='stop'>
                                <div class='stop-game-icon'></div>
                                <div class='game-control-option'>Stop Game</div>
                            </div>
                            <div style='height:15px'></div>
                            <div class='game-control-outer' data-control='remove'>
                                <div class='remove-player-icon'></div>
                                <div class='game-control-option'>Remove Players</div>
                            </div>
                        </div>
                    </div>
                    
                    <!--
                    <div class='game-controls-outer'>
                        <div class='game-control-button pause-play'>Pause Play</div>
                        <div class='game-control-button mute-chat'>Mute Chat</div>
                        <div class='game-control-button remove-players'>Remove Players</div>
                    </div>
                    -->
                    <div style='height:50px'></div>
                    <div class='actors-outer'>
                        <div class='side-bar-header'>Actors</div>
                        <div style='height:10px'></div>
                        <div class='actor-listing-main'>
                            <div class='team-about-large'>#Protestor</div>
                            <div class='message-team' data-aid='1'>Message</div>
                        </div>
                        <div style='height:5px'></div>
                        <div class='actor-listing-main'>
                            <div class='team-about-large'>#Police</div>
                            <div class='message-team' data-aid='2'>Message</div>
                        </div>
                    </div>
                    <div class='resources-outer'>
                        <div class='side-bar-header'>Resources</div>
                        <div style='height:12px'></div>
                        <div class='resource-wrapper'>
                            <div class='resource-item'>Game content</div>
                            <div class='resource-item'>Rules</div>
                            <div class='resource-item'>About Plexus</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='main-col main-col-former main-col-gameplay gameplay-empty'>
                <div class='game-play-main'>
                    <div class='section-block section-block-top'>
                        <div class='header-section-text'>Player Game View (Currently viewing <span class="side-hashtag side-hashtag-header">#Protestors</span>)</div>
                    </div>
                    <div class='game-announcement'>
                        <div class='game-announcement-about'>
                            <div class='game-announcement-poster'>Game Announcement</div>
                            <div class="message-dot"></div>
                            <div class="message-post-datetime">LIVE</div>
                        </div>
                        <div class='game-announcement-title'>Protestors Win the First Round, Gaining 3 Points. Police Gain No Points.</div>
                        <div class="game-announcement-body">In round 1, the Protestors reacted non-violently, while the police reacted violently. Protestors now lead, 3 - 0</div>
                    </div>
                    <div class='message-container' id='message-container1'>
                        
                    </div>
                    <div class='game-feed-spacer'></div>
                    <div class='section-block' id='section-block2'>
                        <div class="message-team-outer">
                            <div class="message-team-prompt-outer">
                                <div class="team-messages-text"><span class="side-hashtag side-hashtag-header">#Protestors</span> messages</div>
                            </div>
                            <div class="message-button-outer">
                                <!--
                                <div class="add-message">Message</div>
                                -->
                            </div>
                        </div>
                    </div>
                    <div class='message-container' id='message-container2'>
                        
                    </div>
                </div>
            </div>
            <div class='main-col'>
                <div class='side-view-wrapper'>
                    <div class="side-bar-header">Switch Player View</div>
                    <div style="height:20px"></div>
                    <div class='observe-side' data-aid='1'>Observe Protestors</div>
                    <div style="height:10px"></div>
                    <div class='observe-side' ata-aid='1'>Observe Police</div>
                </div>
                <div class='side-responses-view-wrapper'>
                    <div class="side-bar-header round-by-round-reaction-header">Round 1 Player Reactions</div>
                    <div style='height:20px'></div>
                    <div class='round-player-reactions-container'>

                    </div>
                    <div style='height:20px'></div>
                    <div class='round-player-reactions-counter'>0 of 0 Protestors have moved</div>
                    <div style='height:10px'></div>
                    <div class='round-move-missing'></div>
                </div>
            </div>
        </div>
        <div class='waitlist-background'>
            <div style='height:60px'></div>
            <div class='waiting-room-outer'>
                <div class='waiting-room-title'>Player Waiting Room</div>
                <div style='height:7px'></div>
                <div class='waiting-room-desc'>As players join the game, they will appear in this window</div>
                <div style='height:15px'></div>
                <div class='model-underscore'></div>
                <div style='height:15px'></div>
                <div class='waitlist-main'>
                    
                    <div class='waiting-room-empty'><i>No players have entered yet</i></div>
                    
                    
                </div>
                <div style='height:15px'></div>
                <div class='model-underscore'></div>
                <div style='height:15px'></div>
                <div class='waitlist-footer'>
                    <div class='waitlist-size'>0 players waiting</div>
                    <div class='waitlist-footer-col'>
                        <div class='start-game start-game-disabled'>Start Game</div>
                    </div>
                </div>
            </div>
        </div>
        <div class='round-by-round-modal'>
            <div style='height:50px'></div>
            <div class='round-by-round'>
                <div class='round-by-round-header'>
                    <div class='round-by-round-text'>Round by Round</div>
                    <div style='height:10px'></div>
                    <div class='round-by-round-header-entry'>
                        <div></div>
                        <div class='round-by-round-actor'></div>
                        <div class='round-by-round-actor'></div>
                    </div>
                </div>
                <div class='round-by-round-main'>
                    <div class='round-by-round-entry round-by-round-empty'>
                        <div class='round-by-round-num'>1</div>
                        <div class='round-reaction-points-entry'>
                            <div class='actor-reaction-entry'>-</div>
                            
                        </div>
                        <div class='round-reaction-points-entry'>
                            <div class='actor-reaction-entry'>-</div>
                            
                        </div>
                    </div>
                </div>
                <div style='height:10px'></div>
                <div class='close-round-by-round-modal'>Close</div>
            </div>
        </div>
    </body>
</html>