<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width">
        <title>Game Dashboard</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src='/static/js/game_dashboard.js'></script>
        <link rel='stylesheet' href='/static/css/game_dashboard.css'>
    </head>
    <body>
        <div class='header'>
            <div class='header-main'>
                <div></div>
                <div>
                    <div class='user-profile-display'>
                        <img src='{{user.gravatar}}' class='dashboard-avatar'>
                        <div class='welcome-user-text'><a href='/profile' class='logged-in-profile'>{{user.full_name}}</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div style='height:50px'></div>
        <div class='dashboard-main'>
            <div class='breadcrumb-nav'>
                <div class='breadcrumb-entry'><a href='/dashboard/games'>Dashboard</a></div>
                <div class='breadcrumb-divider'>/</div>
                <div class='breadcrumb-entry'><a href='/dashboard/games'>Games</a></div>
                <div class='breadcrumb-divider'>/</div>
                <div class='breadcrumb-entry breadcrumb-visting'>{{game.name}}</div>
            </div>
            <div style='height:50px'></div>
            <div class='main-header'>
                <div class='main-header-col'>
                    <div class='dashboard-toggle-header'>{{game.name}}</div>
                </div>
                <div class='main-header-col'>
                    <div class="game-status-pill">Not started yet</div>
                </div>
            </div>
            <div style='height:15px'></div>
            <div class='player-access-link-outer'>
                <div class='player-access-link-text'>Gameplay access link:</div>
                <div class='player-access-link'>https://www.playprotest.com/game/play/{{game.id}}</div>
                <div class='copy-game-link'></div>
            </div>
            <!--
            <div style='height:30px'></div>
            <div class='nav-header'>
                <div class='nav-entry nav-entry-selected'>
                    <div class='nav-text'>Basic</div>
                    <div style='height:9px'></div>
                    <div class='entry-chosen-bar'></div>
                    <div class='nav-entry-underscore'></div>
                </div>
                <div class='nav-entry'>
                    <div class='nav-text'>Round Results</div>
                    <div style='height:9px'></div>
                    <div class='entry-chosen-bar'></div>
                    <div class='nav-entry-underscore'></div>
                </div>
                <div class='nav-entry'>
                    <div class='nav-text'>Players</div>
                    <div style='height:9px'></div>
                    <div class='entry-chosen-bar'></div>
                    <div class='nav-entry-underscore'></div>
                </div>
                <div class='blank-entry'>
                    <div class='nav-text'>Blank</div>
                    <div style='height:9px'></div>
                    <div class='entry-chosen-bar'></div>
                    <div class='nav-entry-underscore' style='width:100%;'></div>
                </div>
            </div>
            -->
        
            <div style='height:20px'></div>
            <div class='game-row-divider'></div>
            <div style='height:20px'></div>
            <div class='game-settings-wrapper' data-gid='{{game.id}}' data-payload = '{{game.to_json}}'>
                <div class='loader'></div>
                <!--
                <div class='make-edits'>
                    <div class='edit-entry-outer entry-control-edit'>
                        <div class='edit-entries'>
                            <div>Edit</div>
                            <div class='edit-entry'></div>
                        </div>
                    </div>
                    <div class='edit-entry-outer'>
                        <div class='cancel-edit'>Cancel</div>
                    </div>
                </div>
                <div style='height:20px'></div>
                <div class='game-settings-outer'>
                    <div class='game-setting-entry'>Game name</div>
                    <input type='text' value='Protest game' class='game-setting-field game-setting-field-disabled' data-fid='1' readonly>
                    <div class='game-setting-entry'>Number of rounds</div>
                    <input type='number' value='6' class='game-setting-field game-setting-field-disabled' data-fid='2' readonly>
                    
                    <div class='game-setting-entry'>Payoff matrix</div>
                    <div class='game-component-outer'>
                        <div class='game-component-link'>Protest Game Matrix</div>
                        <div class='tooltip-info' data-tooltip='The matrix specifies the actors, reactions, and payoffs that power your game'></div>
                    </div>
                    <div class='game-setting-entry'>Content</div>
                    <div class='game-component-outer'>
                        <div class='game-component-link'>Protest Game Content</div>
                        <div class='tooltip-info' data-tooltip='Content are slides of text, links, and images that players of your games can access and reference throughout play'></div>
                    </div>
                </div>
                -->
            </div>
        </div>
        <div style='height:100px'></div>
    </body>
</html>