<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width">
        <title>Game Window V3</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src='/static/js/game_window_v3.js'></script>
        <link rel='stylesheet' href='/static/css/game_window_v3.css'>
    </head>
    <body>
        <div class='main'>
            <div class='main-col main-col-former'>
                <div class='about-player-wrapper'>
                    <div class='side-bar-header'>About You</div>
                    <div style='height:20px'></div>
                    <div class='player-profile-main'>
                        <div class='player-icon-outer'>
                            <img class='avatar-img-about' src='https://www.gravatar.com/avatar/e527e2038eb5c6671be2820348cb72b2?d=identicon'>
                        </div>
                        <div class='player-name-outer'>
                            <div class='user-name-about'>James Petullo</div>
                            <div class='user-handle-about'>@james_petullo</div>
                        </div>
                    </div>
                    <div style='height:50px'></div>
                    <div class='side-bar-header'>Your Role</div>
                    <div style='height:10px'></div>
                    <div class='team-about-large'>#Protestor</div>
                    <div style='height:50px'></div>
                    <div class='side-bar-header'>How to Play</div>
                    <div style='height:12px'></div>
                    <div class='how-to-play-desc'>Your team's objective is to engage your adversary (<span class='side-hashtag'>#police</span>) by choosing a move from a set of possible tactics. In response to <span class='side-hashtag'>#police</span>'s moves, you must communicate with your teammates in choosing the best counter move. At the end of each round, points are awarded based on tactics deployed by each side.</div>
                </div>
            </div>
            <div class='main-col main-col-former'>
                <div class='game-play-main'>
                    <div class='section-block section-block-top'>
                        <div class='header-section-text'>Live Game Feed</div>
                    </div>
                    <div class='game-announcement'>
                        <div class='game-announcement-about'>
                            <div class='game-announcement-poster'>Game Announcement</div>
                            <div class="message-dot"></div>
                            <div class="message-post-datetime">LIVE</div>
                        </div>
                        <div class='game-announcement-title'>Police Reaction is Violent In Round 2, Protestors Move Next</div>
                        <div class="game-announcement-body">In round 2, the police reaction was violent, and now the Protestors must decide their move. Protestors lead, 3-0</div>
                    </div>
                    <div class="message-main">
                        <div class="message-body">
                            <div class="poster-icon-outer">
                                <img class="message-poster-icon" src="https://www.gravatar.com/avatar/29d6528a39d1b2d103ea01bb5bb7068f?d=identicon">
                            </div>
                            <div class="main-message-body">
                                <div class="message-about-poster">
                                    <div class="message-poster-name">Robert Biggert</div>
                                    <div class="message-poster-handle">@robert_biggert</div>
                                    <div class="message-dot"></div>
                                    <div class="message-post-datetime">1 min</div>
                                </div>
                                <div class="message-body-content"><span class="side-hashtag">#protestors</span>: most often, it is in the protestors' best interests to act non-violently when the police respond with violence</div>
                                <div class="message-action-footer">
                                    <div class="reply-message-outer">
                                        <div class="reply-message-icon"></div>
                                    </div>
                                    <div class="message-reply-count">0</div>
                                    <div></div>
                                    <div class="like-message-outer">
                                        <div class="like-message-icon"></div>
                                    </div>
                                    <div class="message-like-count">10</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="message-main">
                        <div class="message-body">
                            <div class="poster-icon-outer">
                                <div class='main-game-icon'></div>
                            </div>
                            <div class="main-message-body">
                                <div class="message-about-poster">
                                    <div class="message-poster-name">Instigator</div>
                                    <div class="message-poster-handle">@instigator</div>
                                    <div class="message-dot"></div>
                                    <div class="message-post-datetime">Just now</div>
                                </div>
                                <div class="message-body-content"><span class="side-hashtag">#protestors</span>: the Police reaction is violent. Make your move now!</div>
                                <div class='reaction-poll-option'>Violent</div>
                                <div class='reaction-poll-option'>Non-Violent</div>
                                <div class="message-action-footer">
                                    <div class="reply-message-outer">
                                        <div class="reply-message-icon"></div>
                                    </div>
                                    <div class="message-reply-count">1</div>
                                    <div></div>
                                    <div class="like-message-outer">
                                        <div class="like-message-icon"></div>
                                    </div>
                                    <div class="message-like-count">1</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='game-feed-spacer'></div>
                    <div class='section-block'>
                        <div class='message-team-outer'>
                            <div class='message-team-prompt-outer'>
                                <div class='team-messages-text'><span class="side-hashtag side-hashtag-header">#Protestor</span> messages</div>
                            </div>
                            <div class='message-button-outer'>
                                <div class='add-message'>Message</div>
                            </div>
                        </div>
                    </div>
                    <div class='message-container'>
                        <div class='message-main'>
                            <div class='message-body'>
                                <div class='poster-icon-outer'>
                                    <img class='message-poster-icon' src='https://www.gravatar.com/avatar/e527e2038eb5c6671be2820348cb72b2?d=identicon'>
                                </div>
                                <div class='main-message-body'>
                                    <div class='message-about-poster'>
                                        <div class='message-poster-name'>James Petullo</div>
                                        <div class='message-poster-handle'>@james_petullo</div>
                                        <div class='message-dot'></div>
                                        <div class='message-post-datetime'>1 min</div>
                                    </div>
                                    <div class='message-body-content'>Based on my calculations and intuition, we should respond nonviolently to any action the <span class="side-hashtag">#police</span> might make</div>
                                    <div class='message-action-footer'>
                                        <div class='reply-message-outer'>
                                            <div class='reply-message-icon'></div>
                                        </div>
                                        <div class='message-reply-count'>10</div>
                                        <div></div>
                                        <div class='like-message-outer'>
                                            <div class='like-message-icon'></div>
                                        </div>
                                        <div class='message-like-count'>10</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='message-main'>
                            <div class='message-body'>
                                <div class='poster-icon-outer'>
                                    <img class='message-poster-icon' src='https://www.gravatar.com/avatar/06f06764bab7744fb4841d213a44a820?d=identicon'>
                                </div>
                                <div class='main-message-body'>
                                    <div class='message-about-poster'>
                                        <div class='message-poster-name'>Joe Petullo</div>
                                        <div class='message-poster-handle'>@joe_petullo</div>
                                        <div class='message-dot'></div>
                                        <div class='message-post-datetime'>1 min</div>
                                    </div>
                                    <div class='reply-to-text'>Replying to <span class='at-handle'>@james_petullo</span></div>
                                    <div class='message-body-content'>Sounds good!</div>
                                    <div class='message-action-footer'>
                                        <div class='reply-message-outer'>
                                            <div class='reply-message-icon'></div>
                                        </div>
                                        <div class='message-reply-count'>5</div>
                                        <div></div>
                                        <div class='like-message-outer'>
                                            <div class='like-message-icon'></div>
                                        </div>
                                        <div class='message-like-count'>3</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='main-col'>
                <div class='resources-wrapper'>
                    <div class='score-box'> 
                        <div class='score-box-header'>
                            <div class='score-text'>Score</div>
                            <div class='current-round'>Round 1 of 6</div>
                        </div>
                        <div class='score-box-main'>
                            <div class='side-score-outer'>
                                <div class='side-score-name'>Protestors</div>
                                <div class='side-score-value'>3</div>
                            </div>
                            <div style='height:5px'></div>
                            <div class='side-score-outer'>
                                <div class='side-score-name'>Police</div>
                                <div class='side-score-value'>0</div>
                            </div>
                        </div>
                    </div>
                    <div style='height:40px'></div>
                    <div class='resources-box'>
                        <div class='resource-item'>Game Content</div>
                        <div class='resource-item-desc'>View the background information about this game</div>
                        <div style='height:20px'></div>
                        <div class='resource-item'>Rules</div>
                        <div class='resource-item-desc'>Learn how to play the game</div>
                        <div style='height:20px'></div>
                        <div class='resource-item'>About Instigator</div>
                        <div class='resource-item-desc'>Find out what we are all about</div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>