<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width">
        <title>Plexus</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src='/static/js/landing_pagev1.js'></script>
        <link rel='stylesheet' href='/static/css/landing_pagev1.css'>
    </head>
    <body>
        <div class='main-container'>
            <div class='header'>
                <div class='header-col'>
                    <div class='plexus-title'>Plexus</div>
                </div>
                <div class='header-col'>
                    <div class='menu-options'>
                        <a href='/blog' style='text-decoration: none'><div class='menu-option'>Blog</div></a>
                        <a href='/LogIn' style='text-decoration: none'><div class='menu-option'>Log in</div></a>
                        <a href='#AllDemos' style='text-decoration: none'><div class='menu-option'>Demos</div></a>
                        <a href='/demo/1/start' style='text-decoration: none'><div class='try-demo'>Play Demo Game</div></a>
                    </div>
                </div>
            </div>
            <div class='main-content'>
                <h1 class='title-main'>Social Science Games for the Classroom</h1>
            </div>
            <h2 class='sub-title'>Easily create and manage online role-playing games for student use, both in and out of the classroom. Increase student engagement and research the generated gameplay data afterwards for your own research.</h2>
            <div class='join-waitlist'>
                <input type='text' class='email-field' placeholder='Enter your email'>
                <div class='join-waitlist-button'>Join waitlist</div>
            </div>
        </div>
        <div class='second-container' id='AllDemos'>
            <div class='container-inner'>
                <div class='explore-demo-games'>Explore Our Game in Action</div>
                <div class='explore-games-about'>Plexus games can be created to simulate many specific role-playing scenarios. Below, choose from a growing list of demo games to try for yourself!</div>
                <div style='height:60px'></div>
                <div class='demo-games'>
                    <div class='demo-game'>
                        <div class='game-title'>Arab Spring</div>
                        <div style='height:40px'></div>
                        <div class='game-description'>This game is designed to introduce players to the Arab Spring and the dynamics of protest that swept across the Middle East in 2011.</div>
                        <a href='https://www.playprotest.com/demo/1/start' style='color:white;text-decoration: none;'><div class='play-demo-button'>Play game demo</div></a>
                    </div>
                </div>
            </div>
        </div>
        <div class='modal'>
            <div class='modal-body'>
                <p>🎉 You have been added to the waitlist! We will reach to you shortly with more information on how to get started. Thank you very much for your interest.</p>
                <div style='height:20px'></div>
                <div class='continue-button'>Continue</div>
            </div>
        </div>
    </body>
</html>