<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width">
        <title>Plexus - Social Science Games for the Classroom</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src='/static/js/landing_pagev1.js'></script>
        <link rel='stylesheet' href='/static/css/landing_pagev1.css'>
        <link rel='icon' href='/static/img/rubik_3.png'>
    </head>
    <body>
        <div class='main-container'>
            <div class='header'>
                <div class='header-col'>
                    <div class='header-logo-component'>
                        <div class='plexus-logo'></div>
                        <div class='plexus-title'>Plexus</div>
                    </div>  
                </div>
                <div class='header-col'>
                    <div class='menu-options'>
                        <a href='https://medium.com/@jpetullo14/plexus-online-micro-games-for-reacting-to-the-past-7db0724fbae' style='text-decoration: none'><div class='menu-option'>Blog</div></a>
                        <a href='/LogIn' style='text-decoration: none'><div class='menu-option'>Log in</div></a>
                        <a href='#AllDemos' style='text-decoration: none'><div class='menu-option'>Demos</div></a>
                        <a href='/demo/1/start' style='text-decoration: none'><div class='try-demo'>Play Demo Game</div></a>
                    </div>
                </div>
            </div>
            <div class='main-content'>
                <h1 class='title-main'>Online Social Science Games for the Classroom</h1>
            </div>
            <h2 class='sub-title'>Easily create collective-action games for student use or choose from our pre-built range of games from across sociology, history, and economics. Add your email to our waitlist below to get started or request a custom game from us.</h2>
            <div class='join-waitlist'>
                <input type='text' class='email-field' placeholder='Add your email to get started'>
                <div class='join-waitlist-button'>Join waitlist</div>
            </div>
        </div>
        <div class='second-container' id='AllDemos'>
            <div class='container-inner'>
                <div class='explore-demo-games'>See Our Game In Action</div>
                <div class='explore-games-about'>Plexus games can be adapted to many specific role-playing scenarios. Below, choose from a growing list of demo games to try for yourself!</div>
                <div style='height:60px'></div>
                <div class='demo-games'>
                    <div class='demo-game'>
                        <div class='game-title'>The Arab Spring</div>
                        <div style='height:40px'></div>
                        <div class='game-description'>This game is designed to introduce players to the Arab Spring and the dynamics of protest that swept across the Middle East in 2011.</div>
                        <a href='https://www.playprotest.com/demo/1/start' style='color:white;text-decoration: none;'><div class='play-demo-button'>Play game demo</div></a>
                    </div>
                    <div class='demo-game'>
                        <div class='game-title'>The Battle of Michigan Avenue</div>
                        <div style='height:40px'></div>
                        <div class='game-description'>A micro-adaption of Nicholas Proctor's book <i>Chicago, 1968: Policy and Protest at the Democratic National Convention</i> from the <i>Reacting to the Past</i> game series, specifically focusing on the clashes between protestors and police on the streets of Chicago.</div>
                        <a href='https://www.playprotest.com/demo/9/start' style='color:white;text-decoration: none;'><div class='play-demo-button'>Play game demo</div></a>
                    </div>
                    <div class='demo-game'>
                        <div class='game-title'>Oligopoly Collusion</div>
                        <div style='height:40px'></div>
                        <div class='game-description'>Simulates the dynamics of oligopoly collusion as a companion to Openstax's <i>Principles of Microeconomics</i> for a introductory microeconomics course.</div>
                        <a href='https://www.playprotest.com/demo/8/start' style='color:white;text-decoration: none;'><div class='play-demo-button'>Play game demo</div></a>
                    </div>
                </div>
            </div>
        </div>
        <div class='modal'>
            <div class='modal-body'>
                <p>🎉 You have been added to the waitlist! We will reach to you shortly with more information on how to get started. Thank you very much for your interest.</p>
                <div style='height:20px'></div>
                <div class='continue-button'>Continue</div>
            </div>
        </div>
    </body>
</html>