<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width">
        <title>Matrix Dashboard 1</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src='/static/js/matrix_dashboard.js'></script>
        <link rel='stylesheet' href='/static/css/matrix_dashboard.css'>
    </head>
    <body>
        <div class='header'>
            <div class='header-main'>
                <div></div>
                <div>
                    <div class='user-profile-display'>
                        <img src='https://www.gravatar.com/avatar/e527e2038eb5c6671be2820348cb72b2?d=identicon' class='dashboard-avatar'>
                        <div class='welcome-user-text'><a href='/profile' class='logged-in-profile'>James Petullo</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div style='height:50px'></div>
        <div class='dashboard-main'>
            <div style='height:50px'></div>
            <div class='dashboard-name-header'>
                <div class='dashboard-toggle-header'>Protest Game Matrix</div>
                <div class='game-use-count'>Used in 10 games</div>
            </div>
            <div style='height:15px'></div>
            <div class='nav-entry-underscore'></div>
            <div style='height:30px'></div>
            <div class='game-settings-outer'>
                <div class='edit-section-outer'>
                    <div class='section-edit-name'>Basic</div>
                    <div class="make-edits">
                        <div class="edit-entry-outer entry-control-edit">
                            <div class="edit-entries">
                                <div>Edit</div>
                                <div class="edit-entry"></div>
                            </div>
                        </div>
                        <div class="edit-entry-outer">
                            <div class="cancel-edit" style="display: none;">Cancel</div>
                        </div>
                    </div>
                </div>
                <div></div>
                <div class="game-setting-entry">Name</div>
                <input type="text" value="Protest game matrix" class="game-setting-field game-setting-field-disabled" data-fid="1" readonly="">
                <div class="game-setting-entry">Description</div>
                
            </div>
            <div style='height:30px'></div>
            
            
            
        </div>
        <div style='height:100px'></div>
    </body>
</html>