<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width">
        <title>Sign In</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src='/static/js/sign_in.js'></script>
        <link rel='stylesheet' href='/static/css/sign_up.css'>
    </head>
    <body>
        <div style='height:100px'></div>
        <div class='access-outer'>
            <div class='access-action-title'>Sign In</div>
            <div style='height:10px'></div>
            <div class='alt-action-prompt'>Don't have an account? <a href='/SignUp' class='alt-access-link' style='color:rgb(211, 61, 211);'>Sign up</a></div>
            <div style='height:15px'></div>
            <input type='email' class='entry-field' placeholder='Email' data-param='email'>
            <div style='height:12px'></div>
            <input type='password' class='entry-field' placeholder='Password' data-param='password'>
            <div style='height:12px'></div>
            <div class='error-container'>
                <div class='error-message'></div>
                <div style='height:12px'></div>
            </div>
            <div class='sign-up sign-up-disabled'>
                <div></div>
                <div class='sign-up-prompt'>Sign in</div>
                <div class='next-step-col'>
                    <div class='arrow-proceed'></div>
                </div>
            </div>
        </div>
    </body>
</html>